# OpsAnt VERSION
OPSANT_VERSION="1.0.0"

# Network
LOCAL_IP="192.168.56.11"
DOMAIN_NAME="192.168.56.11"

# PAAS Service
PAAS_DOCKER_REG="hub.docker.com"

# MySQL
MYSQL_SERVER_IP="${LOCAL_IP}"
MYSQL_ROOT_PASSWORD="OpsAnt@2021"
MYSQL_OPSANT_PASSWORD="OpsAnt@2021"

# Redis
REDIS_SERVER_IP="${LOCAL_IP}"
REDIS_SERVER_PASSWORD="OpsAnt2021"

#Guacd
GUACD_HOST="${LOCAL_IP}"
